.unidadeCard{
    height: 100%; 
    width: 100%;
    border-radius: .5rem;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.unidadeCardSelectec{
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
}

.infoUnidade{
    width: 33%; 
    max-width: 33%; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.div-bt {
    width: 100%;
    display: flex;
}

.div-bt button {
    width: 50%;
}

.cardSelecionado {
    /* border: 2px solid black; */
    filter: brightness(1.01);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
}